.clients {

  & .carousel {
    margin: auto;
    width: 90%;

    &__control {
      margin: 70px auto;
      text-align: center;
    }

    &__prev {
      cursor: pointer;
      margin-right: 30px;
    }

    &__next {
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 900px) {
  .clients .carousel {
    width: 70%;
  }
}

@media screen and (max-width: 600px) {
  .clients .carousel {
    width: 60%;

    &__control {
      display: none;
    }
  }
}
